<a href="https://colab.research.google.com/github/chandutanniru/python_learnings/blob/main/chandu0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#what is python
"""1.General purpose prog. language,
2.High level programming language,
3.object oriented programming language,
4.dynamically programming language,
5.interpreted programming language,

In [ ]:
#IDE :- INTEGRATED DEVELOPMENT ENVIRONMENT
#how can we define ide?
#code compiller, code executer, interpretor

In [ ]:
#print "Hello world" by using python prog lang?
print("Hello world!")

Hello world!
<class 'str'>

In [ ]:
#what is commenting and why it is important?
#for the better understanding of the code we are encouraging comments

#numarical data typee

In [ ]:
#there are 3 types
"""1.integers---> 1, 2, 3, 10, 20, 100,......
2.float---> 0.1, 1.1, 2.2, 22.11, 53.586
3.complex numbers---> 10+1j,
#Integer-->a whole number without decimal point either +ve or -ve is know as integer
print(10)
#find the data type or class of above integer
#type():-function is used to find the data type
print(type(10))
print(-10)
print(type(-10))

10
<class 'int'>
-10
<class 'int'>

In [ ]:
#float:- a whole number with decimal points either +ve or -ve
print(10.5)
print(type(10.5))
#print the data type of given numbers:- 10.0, 2.1, 3.5, -6.0, -2
print(type(10.0))
print(type(2))
print(type(3.5))
print(type(-6.0))
print(type(-2))
print(type("Hello world!"))

10.5
<class 'float'>
<class 'float'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'int'>
<class 'str'>

In [ ]:
#complex Numbers:- A real number with its imaginary part is known as complex numbers
print(-10 + 5j)
print(type(-10 + 5j))
print(1.1 + 5.5j)
print(type(1.1 + 5.5j))
#"j" is known as "iota"-->root(-1)

(-10+5j)
<class 'complex'>
(1.1+5.5j)
<class 'complex'>

#Arthmatic operatiors

In [ ]:
#there are 7 seve arthmatic operators
#Addition-->+
print(10+5)
print(type(10+5))
#subtracion-->-
print(10-5)
print(type(10-5))
#multiplication-->*
print(10*5)
print(type(10*5))
#division-->/
print(10/5)
print(type(10/5))

15
<class 'int'>
5
<class 'int'>
50
<class 'int'>
2.0
<class 'float'>

In [ ]:
#Modulus-->%-- nothing but the remainder of the division
print(10%5)
print(10%3)
print(type(10%3))
#exponential---> **-->to the power of.
print(10**5)
print(type(10**5))

0
1
<class 'int'>
100000
<class 'int'>

In [ ]:
#why the default data type for division is float?
"""when your doing the division sometime if you want
exact co-efficient you may get decimal values instead
denoting the data type by default "gudeo van rossum"
mention it as float"""

In [ ]:
#7.Floor Division: it will ignores the value after decimal point-->//
print(10 / 3)
print(type(10 / 3))
print(10//3)
print(type(10//3))

3.3333333333333335
<class 'float'>
3
<class 'int'>

#round ()

In [ ]:
#print the specific decimal values?
print(round(2.5326,2))
print(round(2.50))
print(round(3.4))
print(round(3.5))
print(round(4.4))
print(round(4.5))

2.53
2
3
4
4
4

In [ ]:
print(round(0.5))
print(round(1.5))
print(round(5.5))

0
2
6

In [ ]:
#what is floor value?
#what is the ceiling value?

#variables

In [ ]:
#how can u define variables?
"""this are the containers where you can store your valuable informatuion and resue it"""
#How can u access the variables?
#im using the print statement along with variable name to access the variable
#what is the purpose of variable?
#use reduce the memory size
x = 10
y = 5
#do all the arthmatic operation
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x ** y)
print(x // y)

15
5
50
2.0
0
100000
2

In [ ]:
#python is a interpreted language
#what is interpreted?
#excute the code line by line

x = 5
y = 10
x = 20
y = 40
print(x+y)
print(type(x + y))

60
<class 'int'>

In [ ]:
#python is a dynamically typed programming language
#we are not defining the data type for variables can python can read data type automatically
x = 10
print(type(x))
y = "hello world"
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
#python is case sensitive language
s = "hello world"
print(s)

hello world

#types of errors

In [ ]:
#there are two types of errors
#1.syntax error
#2.logical error

In [ ]:
#what is syntax errors?
#breaking the rules of the programming language is know as syntax error
#print(x ** y)

In [ ]:
#what is logical error?
#except syntax error all the errors comes under logical error
#ex:- Name error, indendation error

In [ ]:
#rules we need follow to create variable?
""" 1. we can start writing variables with alphabets
2. you should not start with numericals
3. if u follow rule 1 and 2 you start with letter in b/w u can use numbers
4. we can create a variable with _
5. you should not give spaces in between variables """
#2 = "hello world"
#print(2)
#son_age=x/2
#print(son,age)

' 1. we can start writing variables with alphabets\n2. you should not start with numericals\n3. if u follow rule 1 and 2 you start with letter in b/w u can use numbers\n4. we can create a variable with _\n5. you should not give spaces in between variables '

In [ ]:
#assign a multiple values to multiple variable and print in seperate line?
x,y,z = 5,10,15
print(x)
print(y)
print(z)
#use sep = "/n"
print(x,y,z,sep='\n') #"\n"--->represents nextline

5
10
15
5
10
15

In [ ]:
#assign same value to the multiple variables and print in seperate line?
a = b = c = 5
print(a,b,c, sep='\n')

5
5
5

In [ ]:
#what is difference between dynamically typed and statistically typed?
#dynamically typed programming language means your not defining the data type for the variables
#ex:- python
#statistically typed programming language means we need to define the data type for the variable.

#input

In [ ]:
#what is input()?
#it intakes the user information/date
#how can i access the input()?
#how can we create intput()
x = input()
print(x)
print(type(x))

2
2
<class 'str'>

In [ ]:
#the default data type for input function is string ("str")

In [ ]:
#define the input() data type when your working with numerical values
#note:- when your using input functions() for numerical data, define the data type for input()
x = int(input("enter the number:"))
y = int(input("enter the number:"))
#do all the arthmatic operations
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x ** y)
print(x // y)

enter the number:10
enter the number:5
15
5
50
2.0
0
100000
2

#strings

In [ ]:
#what is strings?
#string is a collection of multiple characters written inside the quots(' ', " ", "" "")
a = "hello world"
print(a)
print(type(a))

hello world
<class 'str'>

In [ ]:
a = """hi,
i am learning python
this is multiline string"""
print(a)

hi,
i am learning python
this is multiline string

In [ ]:
"""string is a collection of multiple characters
written inside the quotes, each character can be accessiable"""

In [ ]:
#how can we access the characters of a string?
#we can access the characters of a string with the help of "indexing"
#what is indexing?
#it is the positional number of each character in a string
#indexing can be starts from the "0 onwords"
#along with it we have to use the "slicing operator--[]"
s = "hello world"
#[start]
#print only 'h' from the above string?
print(s[0])
#print only "w"
print(s[5])
#print space
print(s[6])

h

w

In [ ]:
#print only hello from the hellow world?
#[start:end]
#note:- if you want to display particular end character then please give the end value as "n+1"
a = "hello world"
print(a[0:5])
print(a[6:11])
print(a[0:11])

hello
world
hello world

In [ ]:
#print the length of string?
#length of string can be starts from the "1 onwords"
a = "hello world"
print(len(a))
a = "123456789"
print(len(a))

11
9

In [ ]:
a = "hi i am learning python this is multiline string"
print(len(a))

48

In [ ]:
a = "hi i am learning python this is multiline string"
#length (len) starts from 1
print(len(a))
print(a[47])
print(a[47:48])
print(a[46])

48
g
g
n

In [ ]:
#[start:end:step]
a = "hello world"
#print even position characters in given string?
print(a[0:12:1])
print(a[0:12:2])

hello world
hlowrd

In [ ]:
a = "Hello World!"
print(a[:]) #default it takes start position and end position
print(a[::])#default it takes start position and end position anddefault step is 1
#print odd position character
print(a[1::2])
print(a[1::3])
print(a[::-1])

Hello World!
Hello World!
el ol!
eood
!dlroW olleH

In [ ]:
#print last character?
a = "hello world"
#if u want to print the last character use -ve indexing
#what is negetive indexing?
#accessing the characters of a string in the reverse direction
#the -ve indexing starts from "-1"
print(a[-1])

d

#negetive indexing

In [ ]:
#what is negetive indexing "(reverse indexing)"
#indexing the positional charecters from right to left (reverse direction)
#it reverse the string by slicing operator"[::-1]"
a = "hello world!"
#print the range of cheracters in -ve indexing?
print(a[-6:-1])
#reverse a string
print(a[-1:-13:-1])
print(a[::-1])

world
!dlrow olleh
!dlrow olleh

In [ ]:
#check weather the string is palindrom or not?
#MOM
#MADAM
#MALAYALAM
#HYDERABAD
#KARNATAKA
a = "MOM"
print(a[::-1])
a = "MADAM"
print(a[::-1])
a = "malayalam"
print(a[::-1])

MOM
MADAM
malayalam

#string methods

In [ ]:
#what are all methods applicable on string?
#use the "dir()" to print what are all the methods we can apply on string.
#what is dir()?
#it returns what re all the methods aplicable on given string
a = "Hello World"
#find the methods using "dir()"
"""print(dir(a))"""
#some of the string methods
#upper()
#lower()
#remove()
#title()
#swapcase()--->capital letters become small and small letters become capital
#capitalize()
#replace() *****-----> replaces the word
#title()---> first and after space letter become capital letter
#strip()---> unwanted spaces are removed
#rstrip()--->leftside unwanted spaces are removed
#lstrip()--->rightside unwanted spaces are removed
print(a.upper())
print(a.swapcase())

HELLO WORLD
hELLO wORLD

In [ ]:
a = "hello world"
print(a.capitalize())
print(a.title())
print(a.removeprefix("h"))
print(a.removesuffix("d"))

Hello world
Hello World
ello world
hello worl

In [ ]:
a = "hello world"
print(a.find("o"))
print(a.replace("world","chandu")) #----> it replaces the string
#capitalize()----> capitalize the first letter in a string
print(a.capitalize())
#title()------> caitalize the word after the spaces in a string
print(a.title())

4
hello chandu
Hello world
Hello World

In [ ]:
A = "  hello world  "
print(A.strip())
print(A.rstrip())
print(A.lstrip())

hello world
  hello world
hello world

In [ ]:
#create a string method hello good morning
#replace()
A = "hello good morning"
print(A.replace("morning", "evening"))
#Swapcase()----->capitalize the all small letters in a string
print(A.swapcase())
print(A.startswith("morning",11,20))

hello good evening
HELLO GOOD MORNING
True

#string formating method

In [ ]:
#what is concatination?
#addition of string is known as concatination
a = "hello" + "universe"
print(a)

hellouniverse

In [ ]:
#while doing concatination we can given spaces in three ways
#1.give the space at the end of the 1st string
a = "hello " + "universe"
print(a)

hello universe

In [ ]:
#2.give the space at initial position of the last string
a = "hello" + " universe"
print(a)

hello universe

In [ ]:
#3.adding space in between the string
a = "hello" + " " + "world"
print(a)

hello world

In [ ]:
#print hello@world
#4.adding "@" in between the string
a = "hello" + "@" + "world"
print(a)

hello@world

In [ ]:
#take a two variables and print "my age is 10"?
age = 10
print("my age is",age)

my age is 10

In [ ]:
a = "my age is "
b = 10
print(a + str(b))

my age is 10

In [ ]:
#what is string formating methode?
#it is defined as formmating method can takes an arguement
#1.the first method of formate is given .formate() in print statement
#i want to give an arguement at null placeholders
a = "my age is {}"
b = 10
print(a.format(b))

my age is 10

In [ ]:
#2. 2nd method is string.formate method
a = "my age is {}".format(b)
b = 10
print(a)

my age is 10

In [ ]:
#3. f'formate' method
age = 10
print(f"my age is {age} years old")

my age is 10 years old

In [ ]:
#4.
a = 10
print("my age is",a,"years old")

my age is 10 years old

In [ ]:
"your order has been placed for product a with price of 99.9/- and order quantity is 10 is conformed."
item_name = "product A"
price = 99.9
quantity = 10
print("your order has been placed for", item_name, "with price of", price, "/- and order quantity is",quantity, " is conformed")

your order has been placed for product A with price of 99.9 /- and order quantity is 10  is conformed

In [ ]:
item_name = input("enter the item name:")
price = float(input("enter the product price:"))
quantity = int(input("enter the product quantity:"))
final_price = int(price*quantity)
print(f'your order has been placed  sucessfully for {item_name} with price of {final_price}/- and order quantity is {quantity} is conformed')

enter the item name:mobile
enter the product price:9000
enter the product quantity:10
your order has been placed  sucessfully for mobile with price of 90000/- and order quantity is 10 is conformed

In [ ]:
"""the default data type is string for input() when you apply
arthmatic operations in f"formatemethod" you need to define the datatype of the input()"""

In [ ]:
print(round(5.25,-1))

10.0

In [ ]:
string = "Hello, World!"
print(len(string))

13

#Escape characters

In [ ]:
#what is Escape characters
#if u want to print illegal charactersnin a string we have to use escape characters
#----> ude backward slash "\" before of illegal character next at the end also use "\" before illegal characters
a = "Dwyan \"the rock\" johnsoon"
print(a)

Dwyan "the rock" johnsoon

#conditional statements

In [ ]:
#this are also known as the control structures.
#what are called comperision operators in python.
#1. equals---> ==
#2. not equal---> !=
#3. grater than--->  >
#4. less than--->   <
#5. grater than or equal to--->   >=
#6. less than or equal to--->    <=

In [ ]:
#what are all conditional statements do we have?
#if---elif---else

In [ ]:
#write a program to print weather the student is pass or fail?
marks = float(input("enter the marks:"))
total_marks = 100
#condition is more than equal to 35marks student is pass,
if marks >= 35:
  print("congratulations")
  print(f'you have passed with {marks} marks')
else:
  print("better lucknext time")

enter the marks:55
congratulations
you have passed with 55.0 marks

In [ ]:
#write a program to print the given number is "+ve", "-ve", or neutral?
A = float(input())
if A > 0:
 print("+ve")
elif A == 0:
  print("neutral")
else:
  print("-ve")
#where we can place the elif statement?
#in b/w if and else

-5
-ve

In [ ]:
#write a program to check the given string is palindrome or not?
#MOm
#MADAm
#MALAYalaM
#WoW
#HYDERABAD
#KARNATAKA
a = input("enter the string: ")
b = a[::-1]
if a.lower() == b.lower():
  print("palindrome")
else:
  print("not palindrome")

enter the string: MALAYalaM
palindrome

In [ ]:
print("hyderabad"=="HYDERABAD")

False

#logical operators

In [ ]:
#logical operators :- and, or, not
print(10==10)
print(10!=10)
print(10<10)
print(10>10)
print(10<=10)
print(10>=10)

True
False
False
False
True
True

In [ ]:
#not :- it reverse the actual output--->(not())
print(not(10!=10))
print(not(10==10))

True
False

In [ ]:
#and:- it executes the code when all the conditions are true or satisfies
a = 10
b = 56
c = 455
#if a is less than b and b is less than c print all the conditions satisfied.
if a<b and b<c:
  print("all the conditions are satisfied")
else:
  print("all the conditions are not satisfied")

all the conditions are satisfied

In [ ]:
#or :- any one of the condition is true then "or" operator execute the code
a = 10
b = 56
c = 455
if b>a or c>b or c<a:
  print("all the conditions are satisfied")
else:
  print("all the conditions are not satisfied")

all the conditions are satisfied

In [ ]:
a = 10
b = 56
c = 455
if a == b or c > a or a > 500 or b > 200:
  print("all the conditions are satisfied")
else:
  print("all the conditions are not satisfied")

all the conditions are satisfied

In [ ]:
#Nested conditions:- writing a condition inside the another condition is known as nested conditions
a = 45
#i will check a is grater than 10 or not
if a > 10:
  print("a is grater than 10")
  if a > 20:
    print("a is grater than 20")
    if a > 30:
      print("a is grater than 30")
      if a > 40:
        print("a is grater than 40")
        if a > 50:
          print("a is grater than 50")
        else:
          print("a is less than 50")
      else:
         print("a is less than 40")
    else:
      print("a is lesser than 30")
  else:
    print("a is less than 20")
else:
  print("a is less than 10")

a is grater than 10
a is grater than 20
a is grater than 30
a is grater than 40
a is less than 50

In [ ]:
#i will check a is greater than 10 or not
if a > 10:
  print("a is greater thgan 10")
  if a > 20:
    print("a is greater than 20")
    if a > 30:
      print("a is greater than 30")
      if a > 40:
        print("a is greater than 40")
      else:
        print("a is less than 40")
    else:
       print("a is less than 30")
  else:
      print("a is less than 20")
else:
  print("a is less than10")

a is greater thgan 10
a is greater than 20
a is greater than 30
a is less than 40

In [ ]:
marks = int(input("enter the marks:"))
a = 40
#here i am giving the grades
#40-60---->D
#60-70---->C
#70-80---->B
#80-90---->A
if marks >= a:
  if marks >=40 and marks <=60:
    print("D grade")
  if marks >=60 and marks <= 70:
    print("C grade")
  if marks >=70 and marks <=80:
    print("B grade")
  elif marks >=80 and marks <=90:
    print("A grade")
  else:
    marks >=101
    print("you have entered the wrong marks")
else:
    print("failed")

enter the marks:71
B grade

In [ ]:
#pass:- pass is nouthing but a null place holder when you execute the code by using the "pass" keyword nothing will happenes
marks = 55
passing = 40
if marks >= passing:
  pass

In [ ]:
units = int(input("units"))
if units <=100 :
            print("no charge")
elif units <100:
            print(100*5)
elif units <=200:
            print(100*10)

units10
no charge

In [ ]:
marks = int(input("enter marks:"))
if marks >90:
  print("grade A")
elif marks >80 and marks <=90:
  print("grade B")
elif marks >=60 and marks <=80:
  print("grade C")
elif marks <60:
  print("grade D")
else:
  marks <=100
  print("invallid marks")

enter marks:60
grade C

In [ ]:
price = int(input("enter cost price: "))
if price >100000:
  print("15% tax")
elif price >50000 and price <=100000:
  print("10% tax")
elif price <=50000 and price >=100:
  print("5% tax")
else:
  price <=100 and price >=1
  print("0% tax")

enter cost price: 1
0% tax

In [ ]:
#write a program to accept a number from 1 to 7 and display the name of the day like 1 for sunday, 2 for monday and so on.
num = int(input("print number: "))
if num == 1:
  print("sunday")
elif num == 2:
  print("monday")
elif num == 3:
  print("tuesday")
elif num == 4:
  print("wednesday")
elif num == 5:
  print("thursday")
elif num == 6:
  print("friday")
elif num == 7:
  print("saturday")
else:
  num >=8
  print("no day")

print number: 9
no day


#LOOPS

In [ ]:
#print the multiples of 2 in the given collection?
#[1,2,3,4]----[2,4,6,8]
a = (1,2,3,4)
print(a[0]*2,a[1]*2,a[2]*2,a[3]*2)

2 4 6 8

In [ ]:
#what is loops?
#we use the loops to avoid the duplicate codes.
#loops are used to iterate and check conditions over the conditions.
#how many types of coades are there?
#there are 2 types of codes
#1.DRY code---> D:dont, R:repeat, Y:yourself
#2.WET code---> W:write, E:everything, T:twice

#Types of loops
#while
#for

In [ ]:
#while LOOP:-
#it runs a set of instructions as long as the conditions remains true.
target = 5
initial_count = 1
while initial_count <= target:
  print(initial_count)
  initial_count = initial_count +2

1
3
5

In [ ]:
#write a program to print 1 to 10 numbers by using while loop
i = 0
while i<=10:
  print(i)
  i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 0
while i<=10:
  print(i)
  i=i+1
  #Note:- when you use "condition" [i=i+1] after the print() the output can be exact range of number
"""if you are using the condition [i=i+1] before print statement the output can be increased by 1 with respect to range of numbers"""

0
1
2
3
4
5
6
7
8
9
10

'if you are using the condition [i=i+1] before print statement the output can be increased by 1 with respect to range of numbers'

In [ ]:
#write a programe to run a lift if the use press button 4 then the lift ha stop.
target = int(input("enter your floor number: "))
ground_floor = 0
while ground_floor <= target:
  print(f"younhave reached {ground_floor} floor")
  ground_floor = ground_floor+1

enter your floor number: 4
younhave reached 0 floor
younhave reached 1 floor
younhave reached 2 floor
younhave reached 3 floor
younhave reached 4 floor

In [ ]:
#write a program to print 10 digits using while loop in seperate lines?
a = int(input("enter the number: "))
b = 0
while b<=a:
  print(b)
  b = b+1

enter the number: 5
0
1
2
3
4
5

In [ ]:
a = int(input("enter the number: "))
b = 0
while b <= a:
  print(b)
  b = b + 2

enter the number: 10
0
2
4
6
8
10

In [ ]:
#fibonacci series:- Fibonacci series upto 10 terms is: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34
a = 0
b = 1
while a <= 50:
  print(a)
  a = b+1
  a = a+b

In [ ]:
#for loop:- it runs a set of instructions for each and every element ina collection.
number = [10,20,30,40,50]
for i in number:
  print(i*2)

20
40
60
80
100

In [ ]:
=#print (hello world) in seperate lines by using loops?
a = "hello world"
for i in a:
  print(i)

h
e
l
l
o

w
o
r
l
d

In [ ]:
#is loops can run through each and every element in a collection.---->TRUE

In [ ]:
#write a proigram to print "hello world" upto length of the string?
#if length is 11 print 11 times next if length is 15 print 15 times?
a = "hello world"
for name in a:
  print(a)

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [ ]:
#Break statement:- it terminates or breaks the loop once the condition is satisfies
number = [10,20,30,40,50]
#break the loop when iteration reaches to 30
for i in number:
  if i == 30:
    break
  print(i)

10
20

In [ ]:
number = [10,20,30,40,50]
for i in number:
  if i == 30:
    print(i)
    break

30

In [ ]:
number = [10,20,30,40,50]
for i in number:
  if i == 30:
    break
    print(i)

In [ ]:
#if i use the print() before break why i am getting considered condition value?
"""python is an interperted language means it will executes the code line by line
 when i have written print() before break. before executing the condition
 the iteration reaches to specific condition value so we can specify
 the value along with iterated values in output"""

In [ ]:
#continue:- It skipps the particular iteration when the condition satisfies
a = [10,20,30,40,50,60,70,80,90]
for x in a:
  if x == 40:
    continue
  print(x)

10
20
30
50
60
70
80
90

In [ ]:
#can we do multiple continues
a = [10,20,30,40,50,60,70,80,90]
for x in a:
  if x in (30,50,70,80):
    continue
  print(x)

10
20
40
60
90

#Range

In [ ]:
#Note:- only range can be used in for loop
#write a program to create a range of numbers?
#range(end)
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#print "hello world" 6 timws
for i in range(6):
  print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world

In [ ]:
#range(start:end)
#write a program to print range of values from 10 to 40?
for i in range(10,12):
  print(i)

10
11

In [ ]:
#write a program to print even nnumbers from 1to20
#range(start,end,step)
for i in range(2,21,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
#write a program to print odd nnumbers from 1to20
for i in range(1,20,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
#print even numbers in reverse order
for i in range(20,0,-2):
  print(i)

20
18
16
14
12
10
8
6
4
2

In [ ]:
#write a program to print tables
num = int(input("enter the number: "))
for i in range(1,11):
  print(i*num)

enter the number: 3
3
6
9
12
15
18
21
24
27
30

In [ ]:
a = "*"
for i in range(10,0,-1):
  print(i*a)

**********
*********
********
*******
******
*****
****
***
**
*

#Collections

In [ ]:
#4 types of collections in python
#1. tuple---> () unchangable(immutable)
#2. list---->[] changable(mutable)
#3. set
#4. dictionary

In [ ]:
#1. List:- ---->  [] each element is seperated with coma(,)
#-> is ordered, changable(mutable),an it allows the duplicates.

In [ ]:
#it allows the duplicates
l1 = ["Apple" , "Banana" ,12, "cherries" , "lemon" , "orange" , "Apple"]
print(l1)
print(type(l1))

['Apple', 'Banana', 12, 'cherries', 'lemon', 'orange', 'Apple']
<class 'list'>

In [ ]:
#write a program and prove me that list can allow the duplicates?

In [ ]:
#list is ordered.
"""ordered :- the elements or the values in the list is having a specific index position number.
Based on thix position number we are accessing the data"""

In [ ]:
#how we can access the data in line?3
#we can access it the slicing operators---->[] and index position numbers

In [ ]:
l2 = ["Apple" , "Banana" , "cherries" , "kiwi" , "water malon" , "lemon" , "orange"]
#what is the length of this list?
print(len(l2))

7

In [ ]:
l2 = ["Apple" , "Banana" , "cherries" , "kiwi" , "water malon" , "lemon" , "orange"]
#print or access apple from above list
print(l2[0])
print(l2[3])

Apple
kiwi

In [ ]:
#print the range of items "cherries" , "kiwi" , "water malon" , "lemon" , "orange"
#[start:end]
l2 = ["Apple" , "Banana" , "cherries" , "kiwi" , "water malon" , "lemon" , "orange"]
print(l2[2:6])

['cherries', 'kiwi', 'water malon', 'lemon']

In [ ]:
#use the negitive index and print the range of item?
l2 = ["Apple" , "Banana" , "cherries" , "kiwi" , "water malon" , "lemon" , "orange"]
print(l2[-3])
print(l2[-3:-6:-1])

water malon
['water malon', 'kiwi', 'cherries']

In [ ]:
#print the list of even position elements
l2 = ["Apple" , "Banana" , "cherries" , "kiwi" , "water malon" , "lemon" , "orange"]
print(l2[::2])

['Apple', 'cherries', 'water malon', 'orange']

In [ ]:
#Reverse the entire list
l2 = ["Apple" , "Banana" , "cherries" , "kiwi" , "water malon" , "lemon" , "orange"]
print(l2[::-1])

['orange', 'lemon', 'water malon', 'kiwi', 'cherries', 'Banana', 'Apple']

In [ ]:
#can we convert a list in to string.
#write a program to convert list into string.
l3 = ['apple' , 'cherries' , 'watermelon' , 'orange']
#use loop
for x in l3:
  print(x, end=" ") #end:- when you do not need output in each line then we use (end="")
  #print(type(x))

apple cherries watermelon orange

In [ ]:
#list is mutable or changable:-
#how can u define a collection is mutable
#it can be defined in 3 ways
#1. change--->replace---> A-->B
#2. Add the items in to the list
#3. deleting the items in the list

In [ ]:
#1. change--->replace--->items in list--->replacing in the list can be done with the help
l4 = ['apple' , 'cherries' , 'watermelon' , 'orange']
l4[3] = "strawberry"
print(l4)

['apple', 'cherries', 'watermelon', 'strawberry']

In [ ]:
l4 = [10,30,50,40]
l4[3] = 20
print(l4)

[10, 30, 50, 20]

In [ ]:
#if u want to replace the range of items in the list
l4 = ['apple' , 'cherries' , 'watermelon' , 'orange' , 'cherry' , 'banana']
l4[0:2] = "mango", "orange"
print(l4)

['mango', 'orange', 'watermelon', 'orange', 'cherry', 'banana']

In [ ]:
l4 = ['apple' , 'cherries' , 'watermelon' , 'orange' , 'cherry' , 'banana']
l4[0:4] = "cashew", "dry grapes"
print(l4)

['cashew', 'dry grapes', 'cherry', 'banana']

In [ ]:
#2. Add the items in the list
#append() by default it will add the items in the list in end position
l5 = ['apple' , 'cherries' , 'watermelon' , 'orange' , 'cherry' , 'banana']
l5.append("muskmelon")
print(l5)

['apple', 'cherries', 'watermelon', 'orange', 'cherry', 'banana', 'muskmelon']

In [ ]:
#if i want to add the element in particular index position.
#insert(index,'new item name')
l5 = ['apple' , 'cherries' , 'watermelon' , 'orange' , 'cherry' , 'banana']
l5.insert(1,'lemon') #note you can not insert multiple values in to the list
print(l5)

['apple', 'lemon', 'cherries', 'watermelon', 'orange', 'cherry', 'banana']

In [ ]:
#3. extend:- adding
l = [10,20,30,40]
l2 = ['apple' , 'cherries' , 'watermelon' , 'orange' , 'cherry' , 'banana']
#here we give the 1st collection name the another collection elements is going
l2.append(l)
print(l2)

['apple', 'cherries', 'watermelon', 'orange', 'cherry', 'banana', [10, 20, 30, 40]]

In [ ]:
#from above o/p how can we access the elements
l = [10,20,30,40]
l2 = ['apple' , 'cherries' , 'watermelon' , 'orange' , 'cherry' , 'banana']
l2.extend(l)
print(l2)
print(len(l2))

['apple', 'cherries', 'watermelon', 'orange', 'cherry', 'banana', 10, 20, 30, 40]
10

In [ ]:
l3 = ['apple' , 'cherries' , 'watermelon' , 'orange']
l4 = [10,20]
#write a program to add the elements to l3 at 2nd index positionl4[0:2] = "mango", "orange"
l3.insert(2,l4)
print(l3)

['apple', 'cherries', [10, 20], 'watermelon', 'orange']

#delete or remove

In [ ]:
#remove---> used to remove the element
l5 = ['apple', 'cherries', [10, 20], 'watermelon', 'orange']
#delete cherries
l5.remove("cherries")
print(l5)

['apple', [10, 20], 'watermelon', 'orange']

In [ ]:
#pop---> used to remove the single element.
l5 = ['apple', 'cherries', '10, 20,', 'watermelon', 'orange']
l5.pop(1)
print(l5)

['apple', '10, 20,', 'watermelon', 'orange']

In [ ]:
#delete ----> it deletes multiple elementes.
l6 = ['apple' , 'cherries' , 'watermelon' , 'orange' , 'cherry' , 'banana']
#write a program to delete range of items in the above collections
#[2:5]
del l6[2:5]
print(l6)

['apple', 'cherries', 'banana']

In [ ]:
l6 = ['apple' , 'cherries' , 'watermelon' , 'orange' , 'cherry' , 'banana']
del l6[2:5]
print(l6)

['apple', 'cherries', 'banana']

In [ ]:
del l6 #--->it will delete entire collection

In [ ]:
from re import L
l = [10,20,30,40]
l2 = ['apple' , 'cherries' , 'watermelon' , 'orange']
l2.update(l)
print(l2)
#NOTE:- "Update()" is not present in this list collection so you will rise attribute error

In [ ]:
#sorting can be done based on "ascil" number
#ASCIL:- american standared code for information inter change.

In [ ]:
l2 = ['mango', 'apple', 'pineapple', 'grapes', 'kiwi', 'watermellon']
#insert "apple" in index position 1
l2.insert(5,"gowa")
print(l2)

['mango', 'apple', 'pineapple', 'grapes', 'kiwi', 'gowa', 'watermellon']

In [ ]:
#sort the above list
l2 = ['gowa', 'grapes', 'kiwi', 'mango', 'pineapple', 'watermellon','apple']
l2.sort() #default is ascending order (lower to high...A ascivalue is 65)
print(l2)

['apple', 'gowa', 'grapes', 'kiwi', 'mango', 'pineapple', 'watermellon']

In [ ]:
#sort the above list in descending order
l2.sort(reverse = True)
print(l2)

['watermellon', 'pineapple', 'mango', 'kiwi', 'grapes', 'gowa', 'apple']

In [ ]:
#sort the above collection without case sensitivity
l2.sort(reverse = False,key=str.lower)
print(l2)

['apple', 'gowa', 'grapes', 'kiwi', 'mango', 'pineapple', 'watermellon']

In [ ]:
l = ['mango', 'apple', 'pineapple', 'grapes', 'kiwi', 'watermellon']
l[0:3:2] = "banana","gowa"
print(l)

['banana', 'apple', 'gowa', 'grapes', 'kiwi', 'watermellon']

#Tuple

In [ ]:
#Tuple: ---> ()
#ordered, immutable(unchangable), it allows the duplicates

In [ ]:
t1 = ('mango', 'mango', 'apple', 'pineapple', 'grapes', 'kiwi', 'watermellon')
print(t1)
print(len(t1))
print(type(t1))

('mango', 'mango', 'apple', 'pineapple', 'grapes', 'kiwi', 'watermellon')
7
<class 'tuple'>

In [ ]:
#tuples are ordered:- accessing or displaying the spesific data by using index position numbers.
#each element in the copllections is having its index position number
t1 = ('mango', 'mango', 'apple', 'pineapple', 'grapes', 'kiwi', 'watermellon')
#i want only mango from above collection
print(t1[6])

watermellon

In [ ]:
#print the range of elements in t1 --->[3:5] print the 5th item also
t1 = ('mango', 'mango', 'apple', 'pineapple', 'grapes', 'kiwi', 'watermellon')
print(t1[3:6])

('pineapple', 'grapes', 'kiwi')

In [ ]:
#print the even position element in above collection
t1 = ('mango', 'mango', 'apple', 'pineapple', 'grapes', 'kiwi', 'watermellon')
print(t1[::2]) #start can be 0 and end can be len(t1) by default

('mango', 'apple', 'grapes', 'watermellon')

In [ ]:
#reverse the tuple
m1 = ('mango', 'mango', 'apple', 'pineapple', 'grapes', 'kiwi', 'watermellon')
print(m1[::-1])
print(m1[-1:-8:-1])

('watermellon', 'kiwi', 'grapes', 'pineapple', 'apple', 'mango', 'mango')
('watermellon', 'kiwi', 'grapes', 'pineapple', 'apple', 'mango', 'mango')

In [ ]:
#Immutable:-
t1 = ('mango', 'mango', 'apple', 'pineapple', 'grapes', 'kiwi', 'watermellon')
t1[1] = 'orange'
print(tl)
tl.pop()
print(tl)
#NOTE:- tuples are immutable so we can not add or delete items from tuple

In [ ]:
print(dir(t1))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [ ]:
t1 = ('mango', 'mango', 'apple', 'pineapple', 'grapes', 'kiwi', 'watermellon')
#'count' , 'index'
print(t1.count("mango"))
print(t1.index("apple"))

2
2

In [ ]:
#create a list by using the tuple?
t1 = (1,2,3,4)
l1 = list(t1)
print(l1)
print(type(t1))
print(type(l1))

[1, 2, 3, 4]
<class 'tuple'>
<class 'list'>

In [ ]:
#difference b/w list and tuple

#why tuple are faster than list?

In [ ]:
t1 = ('mango', 'mango', 'apple', 'pineapple', 'grapes', 'kiwi', 'watermellon')
print(type(t1))
t1 = list(t1)
print(t1)
print(type(t1))

<class 'tuple'>
['mango', 'mango', 'apple', 'pineapple', '12', 'grapes', 'kiwi', 'watermellon']
<class 'list'>

#set

In [ ]:
#set----> {}
#unordered, immutable,
#it wont allow the duplicates.
s1 = {1,2,3,4,5,6,1,2,3,4,5,6,6}
print(s1)

{1, 2, 3, 4, 5, 6}

In [ ]:
s2 = {"apple", "lemon","apple", "lemon",}
print(s2)

{'lemon', 'apple'}

In [ ]:
#sets is un ordered---->we can not access the elements from the sets why because it dosent hav index position numbers.
print(s1[0])

In [ ]:
#sets are immutable.
#in sets we can able to add and delete the elements but we can not replace the items /elements.
#why we cant swap or replace or change elements in sets?
#sets dosent have index positions so it can not replace the elements
#where the elements in sets are stored
#the elements are storing randomly in sets.

In [ ]:
#adding of elements in the sets.
#what is the default index positions when you add elements/items in the sets.
s1 = {1,2,3,4,5,6,1,2,3,4,5,6,6}
s1.add(9)
print(s1)
#add merhod can take only one arguement

{1, 2, 3, 4, 5, 6, 9}

In [ ]:
#if i want to add multiple values or items in the set then?
#we have to use the multiple method.
s2 = {1, 2, 3, 4, 5, 6, 9}
s3 = (10,22,33)
s2.update(s3)
print(s2)

{1, 2, 3, 4, 5, 6, 9, 10, 22, 33}

In [ ]:
s2 = {1, 2, 3, 4, 5, 6, 9}
s2.update("10","20","30")
print(s2)

{1, 2, 3, 4, 5, 6, 9, '0', '1', '3', '2'}

In [ ]:
#remove elements from set.
s1 = {2, 1, 5, 5, 3, 4, 6, 9}
s1.remove(2)
s1.remove(5)
print(s1)

{1, 3, 4, 6, 9}

In [ ]:
s1.remove(0) #remove takes exactly one arguement
print(s1)

In [ ]:
#discard
s1 = {1, 8, 2, 3, 4, 5, 6, 9,7}
s1.discard(2) #discard takes only one arguement
print(s1)

{1, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
#pop
s1 = {7, 8, 2, 3, 4, 5, 6, 9,1}
s1.pop()
print(s1)
#why we are not using pop method in sets?
#it removes the elements randomly.

{2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
#delete--->del
del s1

In [ ]:
#what is difference b/w discard and remove?
#when we use discard if the item exist or not in the collection it wont through any errors while execution
s = {1, 2, 3, 4, 5, 6, 9, 'apple', 'mango', 'banana', 'grape'}
s.discard(2)
print(s)

{1, 3, 4, 5, 6, 'grape', 9, 'apple', 'banana', 'mango'}

In [ ]:
#execute matrix operation by using two sets
#union and intersection
s5 = {"a","b",'c',"d"}
s6 = {"d","e","f","g",}
s_add = s5.union(s6)
print(s_add)

{'d', 'e', 'c', 'g', 'a', 'b', 'f'}

In [ ]:
# common elements will be printed.
s6 = {"a","b","c","d","e"}
i1 = {"a","c","b","f","g"}
s_inter = s6.intersection(i1)
print(s_inter)
s_add = s6.union(i1)
print(s_add)

{'a', 'b', 'c'}
{'d', 'e', 'c', 'g', 'a', 'b', 'f'}

In [ ]:
# 7. Write a Python program to create a symmetric difference of sets.
A = {1,2,4,6,7}
B = {1,2,3,5,8}
sd1 = A.symmetric_difference(B)
print(sd1)
  #(or)
print(A^B)

{3, 4, 5, 6, 7, 8}
{3, 4, 5, 6, 7, 8}

#dictionary

In [ ]:
#what is dictionary?
#--->{}--->unordered, mutable, do not allow the duplicates.
#where the items stored in disctionary.
#stored in keys:values

In [ ]:
d1 = {
    "name":"chandu",
    "age": 28,
    "education" : "b.tech",
    "education" : "intermediet"
}
print(d1)
#find the length of disctionary.
print(len(d1))

{'name': 'chandu', 'age': 28, 'education': 'intermediet'}
3

In [ ]:
d1 = {
    "name" : "chandu",
    "age" : 28,
    "education" : "b.tech",
    "education" : "intermediet",
    "fruits" : ['mango', 'apple', 'banana', 'pineapple', 'oranges']
}
print(d1)
print(d1.get("age"))

{'name': 'chandu', 'age': 28, 'education': 'intermediet', 'fruits': ['mango', 'apple', 'banana', 'pineapple', 'oranges']}
28

In [ ]:
#print "name" frome disctionary d1
print(d1['name'])

chandu

In [ ]:
#print "fruits" from d1
print(d1["fruits"])
#in this fruits access only "banana"
print(d1["fruits"][0])
print(d1["fruits"][::-1])

['mango', 'apple', 'banana', 'pineapple', 'oranges']
mango
['oranges', 'pineapple', 'banana', 'apple', 'mango']

In [ ]:
#i want to replace the value of "name"
d1["name"] = 'zenvius'
print(d1)

{'name': 'zenvius', 'age': 28, 'education': 'intermediet', 'fruits': ['mango', 'apple', 'banana', 'pineapple', 'oranges']}

In [ ]:
d1["bike"] = 'gt'
print(d1)
#we are not using any replace and insert method in disctionary
#if the key name exits the value gets replaced other wise if the key name dosen't exit a new:value pair is added.

{'name': 'zenvius', 'age': 28, 'education': 'intermediet', 'fruits': ['mango', 'apple', 'banana', 'pineapple', 'oranges'], 'bike': 'gt'}

In [ ]:
#how can we delete or remove items in a disctionary?
d1 = {
    "name" : "chandu",
    "age" : 28,
    "education" : "b.tech",
    "education" : "intermediet",
    "fruits" : ['mango', 'apple', 'banana', 'pineapple', 'oranges']
}
#delete "fruits" from above dict
d1.pop('fruits')
print(d1)

{'name': 'chandu', 'age': 28, 'education': 'intermediet'}

In [ ]:
d3 = {
    "name" : "chandu",
    "age" : 28,
    "education" : "b.tech",
    "education" : "intermediet",
    "fruits" : ['mango', 'apple']
}
#insert "kiwi" in to fruits
d3["fruits"][1] = "kiwi"
print(d3)

{'name': 'chandu', 'age': 28, 'education': 'intermediet', 'fruits': ['mango', 'kiwi']}

In [ ]:
#insert method
d3['fruits'].insert(3,'grape')
print(d3)

{'name': 'chandu', 'age': 28, 'education': 'intermediet', 'fruits': ['mango', 'kiwi', 'grape']}

In [ ]:
#append method
d3['fruits'].append('mango')
print(d3)

{'name': 'chandu', 'age': 28, 'education': 'intermediet', 'fruits': ['mango', 'kiwi', 'grape', 'mango']}

In [ ]:
d3["fruits"][1] = "kiwi", "grape"
print(d3)

{'name': 'chandu', 'age': 28, 'education': 'intermediet', 'fruits': ['mango', ('kiwi', 'grape'), 'grape', 'mango']}

In [ ]:
del d3["age"]

In [ ]:
d3.clear()

In [ ]:
d4 = {
    "name" : "chandu", "height" : 178,
    "age" : 22,
    "education" : "b.tech",
    "fruits" : ['mango', 'apple']}

#pint only keys from the dictionary
print(d4.keys())
#print only items
print(d4.items())
#print only values
print(d4.values())

dict_keys(['name', 'height', 'age', 'education', 'fruits'])
dict_items([('name', 'chandu'), ('height', 178), ('age', 22), ('education', 'b.tech'), ('fruits', ['mango', 'apple'])])
dict_values(['chandu', 178, 22, 'b.tech', ['mango', 'apple']])

In [ ]:
#working with loops in disctionary
for i in d4.keys():
  print(i)

name
age
education
fruits

In [ ]:
#print only values in seperate line
for i in d4.values():
  print(i)

chandu
28
b.tech
['mango', 'apple']

In [ ]:
for i in d4.items():
  print(i)

('name', 'chandu')
('age', 28)
('education', 'b.tech')
('fruits', ['mango', 'apple'])

In [ ]:
#print keys values pair in seperate line?
for i in  d4.keys():
  print(f'{i}:{d4[i]}')

name:chandu
age:28
education:b.tech
fruits:['mango', 'apple']

#Functions

In [ ]:
#what is a function
#function is a block of code which only runs when it is called.

In [ ]:
#how to create function and how to call the function
#to create a function use key word called "def"
def chandu(): #---> function defination
  print("hello world")
  print("this is running with a function") #---> function body
  print("================")
#call this function
chandu()#-----> function call

hello world
this is running with a function
================

In [ ]:
def zenvius_welcom():
  print("hello good morning")
  print('this is your module 2')
  print("please practic your session")
#call the function
zenvius_welcom()

hello good morning
this is your module 2
please practic your session

In [ ]:
#what is parameter?
#what is argument?
#what is difference b/w parameter and argument?

In [ ]:
#what is parameter?
#creating a variable when your defining a function is known as parameter
def details(name,age,gender,education):
  print(f"hello iam {name}, and my age is {age}, my gender is {gender}, i have done my degree in {education}")
#call this function
details("chandu",22,"male"," b.tech")

hello iam chandu, and my age is 22, my gender is male, i have done my degree in  b.tech

In [ ]:
def details(name,age,gender,education):
  print(f"hello iam {name}, and my age is {age}, my gender is {gender}, i have done my degree in {education}")
#call this function
name = input("enter your name: ")
age = int(input("enter your age: "))
gender = input("enter your gender: ")
education = input("enter your education: ")
#what is argumente?
#calling the function with certain value is known as argument.
details(name,age,gender,education)

enter your name: chandu
enter your age: 22
enter your gender: male
enter your education: b.tech
hello iam chandu, and my age is 22, my gender is male, i have done my degree in b.tech

In [ ]:
def details(name,age,gender,education): #---->this is called parameters.
  print(f"hello iam {name}, and my age is {age}, my gender is {gender}, i have done my degree in {education}")
#call this function
details("chandu",22,"male"," b.tech") #---->this is called arguements.
#note it is important to give or to call the function with same number of arguments when you have define with specific number of parameters.
#call function ---->number of perameter == number of arguments

hello iam chandu, and my age is 22, my gender is male, i have done my degree in  b.tech

In [ ]:
#what do i do when i dont know how many parameters do i need to pass?
def f2(**name):
  for x in name:
    print(f'hello, {x}')
  print("==========")
f2(Name = "python", last_name = "programming language")

hello, Name
hello, last_name
==========

In [ ]:
def f2(**name):
  for x,y in name.items():
    print(f'{x} = {y}')
  print("==========")
f2(Name = "python", last_name = "programming language")
f2(name = "java",last_name = "programming language", mobile = 995907865)

Name = python
last_name = programming language
==========
name = java
last_name = programming language
mobile = 995907865
==========

In [ ]:
print(10,20,30,40, sep="\n")

10
20
30
40

In [ ]:
def f3(name,age,gender):
  print(f"my name is {name}, and my age is {age}, gender {gender}",sep='\n')
f3("chandu",22,"M")

my name is chandu,and my age is 22, gender M

In [ ]:
#what do i have to do when you don't know how to deal with no.of arguments>
def f4(*n):
  print(f"hello, {n}")
f4("py","j","c++")

hello, ('py', 'j', 'c++')

In [ ]:
def f4(*n):
  for x in n:
    print(f"hello, {x}")
f4("py","j","c++")

hello, py
hello, j
hello, c++

In [ ]:
def f4(*n):
  print(n)
f4("py","j","c++")

('py', 'j', 'c++')

In [ ]:
def f4(**h):
  print(h)
f4(name = "python", last_name = "language", age = 34)

{'name': 'python', 'last_name': 'language', 'age': 34}

In [ ]:
""" *--->when we dont know how many arguements you giving use (*)---> arbitrary arguments(Arugs)
and default data type for "ARUGS" is "tuple". """
""" **---> when ue dont know how many parameters you giving us (**)--->arbitrary keyword arguements(Kwarugs)
and default datatype for "kwarugs" is "dictionary". """